body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@media (max-width: 700px) {
  *,
  *:before,
  *:after {
    box-sizing: content-box;
  }
}

/* Container */

.container {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  /* max-height: 80px; */
  min-width: 200px;
  margin: 0 auto;
  padding-inline: 6.5%;
}

/* middle */

.container__middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  max-height: 600px;
  margin: 0 auto;
  background: #2f303a;
}

.middle {
  padding-top: 80px;
  width: 100%;
  max-width: 1600px;
  min-width: 400px;
  height: 80vh;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.middle__inner {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 696px;
  color: #fff;
}

/* Header */

.header {
  padding-top: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* padding-left: 10%; */
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.logo {
  display: flex;
  flex-direction: row;
}

.header__logo_one {
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
}

.header__logo_two {
  font-size: 26px;
  font-weight: 700;
  color: #000000;
}

/* Navigation */

.nav__one {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-right: 40%;
}

.nav__two {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  text-decoration: none;
  color: #212121;

  transition: color 0.2s linear;
}

.nav__link:hover {
  color: #2196f3;
}

/* Button */

.button {
  background-color: #2196f3;
  border: none;
  color: white;
  width: 216px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* bottom */

.bottom {
  /* padding-top: 80px; */
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container__bottom {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1600px;
  height: 40%;
  max-height: 600px;
  margin: 0 auto;
  padding-top: 8%;
  padding-inline: 6.5%;
}

.bottom__inner {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 14px;
  width: 100%;
  margin: 0 auto;
  max-width: 696px;
  color: black;
  margin-bottom: 20px;
}

.bottom__text {
  font-size: 14px;
}

.bottom__block {
  width: 100%;
  height: 20%;
  padding-left: 20px;
  padding-bottom: 5%;
}

.bottom__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 696px;
  color: black;
  padding-bottom: 5%;
}

.bottom__images {
  display: flex;
  padding-inline: 6.5%;
  justify-content: space-around;
  padding-bottom: 5%;
}

.bottom__image {
  /* max-width: 30%;
  min-width: 10%; */
  height: 294px;
  width: 370px;
}

.container__employees {
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: #f5f4fa;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  /* padding-inline: 6.5%; */
}

/* employees */

.employees__block {
  width: 100%;
  max-width: 1600px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: space-evenly;
  /* padding-bottom: 100px; */
  padding-inline: 5%;
}

.employee__card {
  min-width: 100px;
  max-width: 270px;
  /* max-height: 368px; */
  min-height: 100px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee__image {
  width: 270px;
  height: 260px;
}

.employee__title {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  flex-direction: column;
  height: 108px;
}

.employee__photo {
  max-width: 270px;
  /* max-height: 260px; */
  display: block;
}

.employee__name {
  color: #212121;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.employee__profession {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

/* footer */

.footer {
  width: 100%;
  display: flex;
  background-color: #2f303a;
  padding-inline: 6.5%;
  padding-block: 3%;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__logo_one {
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
}

.footer__logo_two {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
}

.footer__address {
  padding-top: 3%;
  padding-bottom: 3%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  white-space: nowrap;
}

.nav__link_footer {
  padding-top: 3%;
  padding-bottom: 3%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  transition: color 0.2s linear;
}

.nav__link_footer:hover {
  color: #2196f3;
}

@media (max-width: 700px) {
  .bottom__images {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .bottom__image {
    padding-top: 10%;
  }
}

@media (max-width: 700px) {
  .employees__block {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .employee__card {
    /* padding-top: 50%; */
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .footer {
    position:fixed;
    /* bottom: 0; */
  }
}

@media (max-width: 700px) {
  .container__bottom {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .bottom__block {
    margin-top: 25px;
    margin-left: px;
  }
}

@media (max-width: 700px) {
  .bottom__title {
    margin-top: 100px;
  }
}

@media (max-width: 700px) {
  .container__employees {
    /* height: 100%; */
  }
}


@media (max-width: 700px) {
  .header__inner {
    justify-content: space-around;
    padding-right: 65%;
    padding-left: 45%;
  }
}



